* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  padding-top: 100px;
}

.inputTodoArea {
  text-align: center;
}

.todoArea {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  text-align: center;
}

.inCompleteTodoArea {
  #{&}__listItem {
    border: solid 1px #000;
    margin: 5px;
  }
}

.completeTodoArea {
  #{&}__listItem {
    border: solid 1px #000;
    margin: 5px;
  }
}